@import "../../sass/variables";
@import "../../sass/mixin";
.About{
    min-height: 200vh;
    &__container{
        position: relative;
        z-index: 3;
    }
    // -------------banner --------------------
    &__banner{
         position: relative;
        width: 100%;
        min-height: 35vh;
        background-position: center;
        //overflow: hidden;
        padding: 60px 40px;
        @include mobile{
            object-fit: cover;
            padding: 10px 10px;
        }
        img{
            display: block;
            // position: absolute;
            width: 100%;
            height: 40vh;
            object-fit: unset;
            border-radius: 20px;
            outline: none;
            @include mobile{
                object-fit: cover;

            }
           
        }
       
    }
    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2{
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 15px;
            color: #ffffff;
            font-family: cursive;
            @include mobile{
                font-size: 40px;
                text-align: center;

            }
        }
        
    }
    //-------------end banner---------------------
    //---------------about----------------------
    &__about{
        display: flex;
       align-items: stretch;
        justify-content: center;
         flex-direction: row;
        //@at-root: rgb(133, 35, 35);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 5px 38px -6px rgb(0 0 0 / 14%);
        position: relative;
        z-index: 3;
        background-color: #ffffff;
        
        @include mobile{
            object-fit: cover;
            padding: 10px 10px;
            flex-direction: column;
            gap: 30px;
        }
        &__left{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mobile{
                width: 100%;
            }
            
        }
        &__right{
            width: 50%;
            @include mobile{
                width: 100%;
            }
            p {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 15px;
                display: flex;
            }

            h2 {
                font-size: 32px;
                font-weight: 600;
            }
            span {
                color: #b4b4b4;
                line-height: 40px;
                font-size: 16px;
                font-weight: 300;
                padding-bottom: 30px;
            }
            a{
                display: block;
                margin: 10px 0;
            }

        }
        &__warpper{
           position: relative;
        }
        &__img{
           position: absolute !important;
            display: block;
            top: 50%;
            
            transform: translatey(-50%);
            width: 300px;
            height: 430px;
            object-fit: cover;
            position: relative;
            z-index: 3;
            border-radius: 20px;
            @include mobile{
                    left: 50%;
                    transform: translate(-50%,-50%);
            }
        }
        &__bg{
            position: absolute;
            
            width: 300px;
            height: 430px;
            object-fit: cover;
            position: relative;
            z-index: 2;
            top: 30px;
            left: -37px;
            @include mobile{
                width: 100%;
            }
        }
        
    }
    &__development{
        margin: 20px 0px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 5px 38px -6px rgb(0 0 0 / 14%);
        background-color: #ffffff;
        h2{
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 30px;
        }
    }
    &__Feedback{
        margin: 20px 0px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 5px 38px -6px rgb(0 0 0 / 14%);
        background-color: #ffffff;
        &__warpper{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            @include mobile{
                flex-direction: column;
            }
        }
        &__left,&__right{
            width: 50%;
            @include mobile{
                width: 100%;
            }
        }
        &__left{
            h2{
                padding: 20px 0;
                font-size: 32px;
                font-weight: 600;
                @include mobile{
                    font-size: 20px;
                }
            }
        }
        &__item{
            &__warpper{
                display: flex;
                align-items: center;
                span{
                    display: block;
                    margin-left: 20px;
                    font-size: 16px;
                    font-weight: 400;
                }
                margin-bottom: 10px;
            }
            p{
                color: #b4b4b4;
                line-height: 40px;
                font-size: 16px;
                font-weight: 300;
                padding-bottom: 30px;
            }

        }
    }

}



//---------------Card Profile css
.swiper{
    padding-bottom: 20px;
    cursor: pointer;
}
.mySwiper{
    padding-bottom: 40px 0 !important;
    position: relative;
}
.swiper-pagination{
    position: absolute;
     bottom: -8px;
    padding: 10px;
    z-index: 50;
}
.swiper-wrapper{
    padding-bottom: 20px;
}
.card {
    // border: 2px solid  rgba($color: #ff8b04, $alpha: 0.9);
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: black;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin: 0 20px;
    cursor: pointer;
  }
  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
  }
  
  .card__img {
    width: 120px;
    height: 120px;
    border: 4px solid  #ff8b04;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.5s;
  }
  
  .card h2 {
    margin-top: 35px;
  }
  
  .card p {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
  }
  
  .card__social {
    margin: 25px 0;
    display: flex;
    justify-content: center;
  }
  
  .card__social a {
    color: rgb(0, 0, 0);
    margin: 25px 20px;
    font-size: 25px;
    font-weight: 200;
  }
  
  .card__social a:hover {
    color: #f2726a;
  }
  

  
  .card button:hover {
    background: #f2726a;
  }
  
  .card__img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
  }
  .swiper-container {
    width: 480px;
  }
  
  @media screen and (min-width: 640px) {
    .swiper-container {
      width: 640px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }