.Cart__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}