@import "../../sass/mixin";
@import "../../sass/variables";
@import "../../sass/base";
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    //padding: 40px;
    @include mobile{
        
        padding: 0 10px;
    }
}

.center h1{
    text-align: center;
    padding: 1px 0 64px 0;
    font-size: 33px;
    font-weight:700;
}

.sign-in-form {
    max-width: 500px;
    width: 100%;
    @include mobile{
        width: 100%;
    }
}

.border-null{
    border: none !important;
    box-shadow: none !important;
}
button[type="submit"]{
    width: 100%;
    height: 53px;
    background-color: $secondary-color;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: $primary-bg;
&:hover{
    transition: all 0.5s ease;
    background-color: $secondary-color;
    color: black;
}

}
a{
    display: block;
}
.tabs {
  display: flex;
  background-color: #eee;
  border-radius: 8px;
  padding: 5px;
  justify-content: space-between;
}

.tabs .tab-item.active {
  transition: all 1s ease;
  color: $secondary-color;
  background-color: #ff8b04;
  width: 50%;
}

.tabs .tab-item {
    background-color: transparent;
    width: 50%;
    white-space: nowrap;
    padding: 10px 15px;
    cursor: pointer;
    color: #999;
    font-weight: 500;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}
.forget-password {
    margin-top: 13px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    a{
        color: black;

    }
}