.ButtonQuantity{
    display: flex;
    
    
    &__decrease,
    &__increase{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #ccc;
       
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 27px !important;
        }
        &:hover{
            transition: all 0.5s ease;
            background-color: #ff8b04;
            i{
                color: rgb(255, 255, 255);
            }
        }
    }
    &__content{
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}