.Button{
    cursor: pointer;
    min-width: 140px;
    min-height: 40px;
    background-color: #ff8b04;
    color: white;
    //border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.5s ease;
    display: flex;;
    align-items: center;;
    justify-content: center;
    &:hover{
        transition: all 0.5s ease;
        background-color: white;
        color: black;
    }
}