@import "../../sass/variables";
@import "../../sass/mixin";
@import "../../sass/base";

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    min-height: 90vh;
    &__image{
        width: 50vh;
        height: 50ch;
    }
    &__message {
        margin-bottom: 52px;
        font-size: 16px;
        text-align: center;
    }
    @include mobile{
        button[type="submit"]{
            width: 90vw;
        }
    }
}
button[type="submit"]{
    max-width: 500px;
    height: 53px;
    background-color: $secondary-color;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}