@import "../../sass/variables";
@import "../../sass/mixin";
@import "../../sass/base";

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    min-height: 90vh;
    &__image{
        width: 50vh;
        height: 50ch;
    }
    &__message {
        margin-bottom: 52px;
        font-size: 16px;
        text-align: center;
    }
    @include mobile{
        button[type="submit"]{
            width: 90vw;
        }
    }
}
button[type="submit"]{
    max-width: 500px;
    height: 53px;
   
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;

    color: rgb(255, 255, 255);
        background-color: $primary-color;
    &:hover{
        transition: all 0.5s ease;
        background-color: $secondary-color;
        color: black;
    }
}